<section>
    <article>

        <md-card md-whiteframe="5">
            <div class="md-toolbar-tools">
                <h2>{{device.hardwareId.model}} - S/N: {{device.serialNumber}}</h2>
                <div flex></div>
                <md-button ng-click="edit()">
                    <md-icon class="material-icons">content_edit</md-icon>
                </md-button>
            </div>
            <md-content layout="row">
                <div flex=50 layout="column">
                    <div><span>Created by: </span><span>{{device.created_by.name.first}} {{device.created_by.name.last}} - {{device.created_by.email}}</span></div>
                    <div><span>Creation date: </span><span>{{device.created_at | date:'medium'}}</span></div>
                </div>
                <div flex=50 layout="column">
                    <div><span>Edited by: </span><span>{{device.edited_by.name.first | capitalize}} {{device.edited_by.name.last | capitalize}} - {{device.edited_by.email}}</span></div>
                    <div><span>Last edition: </span><span>{{device.updated_at | date:'medium'}}</span></div>
                </div>                
            </md-content>
            </md-content>
        </md-card>
        <md-card>
            <md-content>
                <div><span>Owner:</span><span>{{device.ownerId.name.first | capitalize}} {{device.ownerId.name.last | capitalize}} - {{device.ownerId.email}}</span></div>
                </div>
                <div><span>Serial Number:</span><span>{{device.serialNumber}}</span></div>
                </div>
                <div><span>MAC Address:</span><span>{{device.macAddress}}</span></div>
                </div>
                <div><span>Origin:</span><span>{{device.origin}}</span></div>
                </div>
                <div><span>PO#:</span><span>{{device.order}}</span></div>
                </div>
            </md-content>
        </md-card>
        <md-card md-whiteframe="5">
            <div class="md-toolbar-tools">
                <h2>History</h2>
                <div flex></div>
                <md-button ng-click="refresh()">
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
            </div>
            <md-table-container>
                <table md-table ng-model="loans" md-progress="request">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="customer">Customer</th>
                            <th md-column md-order-by="contact">Contact</th>
                            <th md-column md-order-by="deviceId.length">Number of Devices</th>
                            <th md-column md-order-by="ownerId.name.fisrt">Owner</th>
                            <th md-column md-order-by="startDate">StartDate</th>
                            <th md-column md-order-by="status">Status</th>
                            <th md-column></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="loan in loans | orderBy: query.order">
                            <td md-cell>{{loan.companyId.name}}</td>
                            <td md-cell>{{loan.contactId.name}}</td>
                            <td md-cell>{{loan.deviceId.length}}</td>
                            <td md-cell>{{loan.ownerId.name.first | capitalize}} {{loan.ownerId.name.last | capitalize}} ({{loan.ownerId.email}})</td>
                            <td md-cell>{{loan.startDate | date:'medium'}}</td>
                            <td md-cell></td>
                            <td md-cell>
                                <md-button ng-click="editDevice(loan)">
                                    <md-icon class="material-icons edit">mode_edit</md-icon>
                                </md-button>
                                <md-button ng-click="copyDevice(loan)">
                                    <md-icon class="material-icons edit">content_copy</md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="[10, 25, 50]" md-page="query.page" md-total="{{loans.length}}"
                md-page-select="query.pageSelect"></md-table-pagination>
        </md-card>
    </article>

</section>