<md-card>
    <md-card-header class="small" layout-align="start center">
        <h2>{{title}}</h2>
    </md-card-header>
    <md-card-content layout="row" layout-padding>
        <div flex=50 layout="column">
            <div><b>Created by: </b><span>{{object.created_by.name.first | capitalize}}  {{object.created_by.name.last | capitalize}} - {{object.created_by.email}}</span></div>
            <div><b>Creation date: </b><span>{{object.created_at | date:'medium'}}</span></div>
        </div>
        <div flex=50 layout="column">
            <div><b>Edited by: </b><span>{{object.created_by.name.first | capitalize}}  {{object.created_by.name.last | capitalize}}  - {{object.edited_by.email}}</span></div>
            <div><b>Last edition: </b><span>{{object.updated_at | date:'medium'}}</span></div>
        </div>
    </md-card-content>
</md-card>