<div layout="row" layout-align="start center" layout-margin md-whiteframe="2">
    <md-input-container>
        <md-checkbox style="margin: 0" ng-model="query.aborted" aria-label="Only Available">Aborted</md-checkbox>
    </md-input-container>
    <md-input-container>
        <md-checkbox style="margin: 0" ng-model="query.returned" aria-label="Only Available">Returned</md-checkbox>
    </md-input-container>
    <md-input-container>
        <md-checkbox style="margin: 0" ng-model="query.progress" aria-label="Only Available">In Progress</md-checkbox>
    </md-input-container>
    <md-input-container>
        <md-checkbox style="margin: 0" ng-model="query.overdue" aria-label="Only Available">Overdue</md-checkbox>
    </md-input-container>
    <md-input-container md-no-float="true" class="no-error">
        <input type="text" ng-model="query.filter" ng-model-options="{ debounce: 250 }" placeholder="Filter" style="min-width: 400px"
        />
    </md-input-container>
    <span flex></span>
    <span>Displayed: {{displayedLoans.length}} | Total: {{loans.length}}</span>
</div>
<md-table-container>
    <table md-table ng-model="loans" md-progress="request">
        <thead md-head md-order="query.order">
            <tr md-row>
                <th ng-if="toDisplay('company')" style="width: 13%" md-column md-order-by="customer">Company</th>
                <th style="width: 10%" md-column md-order-by="deviceId.length"># of Devices</th>
                <th ng-if="toDisplay('user')" style="width: 20%" md-column md-order-by="ownerId.email">Owner</th>
                <th style="width: 10%" md-column md-order-by="startDate">Start Date</th>
                <th style="width: 10%" md-column md-order-by="estimatedEndDate"><span>Est. End Date<span></th>
                <th style="width: 10%" md-column md-order-by="endDate">End Date</th>
                <th style="width: 10%" md-column md-order-by="status">Status</th>
                <th style="width: 17%" md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="loan in displayedLoans | orderBy: query.order : true  | limitTo: query.limit: (query.page - 1) * query.limit">
                <td md-cell ng-if="toDisplay('company')"><a href="#!/companies/{{loan.companyId._id}}" class="md-primary">{{loan.companyId.name}}</a></td>
                <td md-cell>{{loan.deviceId.length}}</td>
                <td md-cell ng-if="toDisplay('user')"><a href="#!/settings/accounts/{{loan.ownerId._id}}" class="md-primary">{{loan.ownerId.email}}</a></td>
                <td md-cell>{{loan.startDate | date:'mediumDate'}}</td>
                <td md-cell>{{loan.estimatedEndDate | date:'mediumDate'}}</td>
                <td md-cell>{{loan.endDate | date:'mediumDate'}}</td>
                <td md-cell>
                    <span class="status small error" ng-if="loan.status == 'overdue'">OVERDUE</span>
                    <span class="status small ok" ng-if="loan.status == 'progress'">PROGRESS</span>
                    <span class="status small warning" ng-if="loan.status == 'ended'">RETURNED</span>
                    <span class="status small none" ng-if="loan.status == 'aborted'">ABORTED</span>
                    </td>
                    <td md-cell>
                        <md-button href="#!/loans/{{loan._id}}" class="md-primary">Details</md-button>
                        <md-button class="md-icon-button" ng-click="returnLoan(loan)" ng-disabled="loan.endDate">
                            <md-tooltip>Mark as Returned</md-tooltip>
                            <md-icon class="material-icons edit">assignment_returned</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="copyLoan(loan)">
                            <md-tooltip>Clone</md-tooltip>
                            <md-icon class="material-icons edit">content_copy</md-icon>
                        </md-button>
                    </td>
            </tr>
            </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="[10, 25, 50]" md-page="query.page" md-total="{{displayedLoans.length}}"
    md-page-select></md-table-pagination>