/* ===================================
Body
=================================== */
html{
    overflow: hidden;
}
body {
    font: 12px helvetica, arial, san-serif !important;
    transition: opacity 1s ease;
    overflow: hidden;   
    max-width: 100%;
    max-height: 100%;
    font-size: small !important;
    background-color: #ccc;
}
* {
    outline: none;
}
/* ===================================
General
=================================== */
.md-primary.md-raised.md-button.md-ink-ripple{
    color: rgba(255,255,255,0.87) !important;
}
.md-primary.md-raised.md-button.md-ink-ripple[disabled]{
    color: rgba(0,0,0,0.38) !important;
}
.no-error .md-errors-spacer {
    min-height: 0px;
}
 .highlight {
    color: #FF5722 !important;
    font-weight: bold;
}
md-card-header.small {
    padding-bottom: 0;
    padding-top: 0;
}
/* ===================================
Header
=================================== */
header {
    height: 60px;
}

header, .menu-tabs {
    background-color: #333;
}
.menu-tabs h4 {
    color: white;
}

.menu-tabs md-tab-item {
    padding: 0 !important;
}
.menu-tabs div {
    padding: 12px 24px;
}

/* SEARCH BAR */
.search  {
margin-left: 10%;
display: flex;
margin-top: 20px;
}
.search .md-input-has-value label {
    color:#FF5722 !important;
}
.search > .input {
background-color: #ddd;
}
.search md-input-container {
    margin: 0;
    border-color: transparent;
    width: 100%
}
.search md-input-container label:not(.md-container-ignore) {
    bottom: 110% !important;    
}
.search button, .search button:hover {
    background-color: transparent !important;
    border: 0 !important;
    min-height: 0;
    min-width: 0;
}

.search .md-errors-spacer{
    min-height: 0;
}



.autocomplete-search-template li {
  height: auto;
  width: 100%;
  padding: 0;
  white-space: normal;
  line-height: 40px;
}

.autocomplete-search-template .separator {
  border-top: 1px solid #ccc;
    background-color: white;
    cursor: default;
    color: #999;
}
.autocomplete-search-template .separator {
    padding: 0 10px;
}
.autocomplete-search-template .selector {
    padding: 0 20px;
}



.menu button {
    height: 70px !important;
}
.menu md-icon {
    font-size: xx-large;
}

md-tabs {
    margin-left: 15%;
    max-height: 40px;
}

md-tab-item h3, md-tab-item h4 {
    margin: 0;
}
/* ===================================
ng-view;
=================================== */
ng-view > section {
    padding: 2px 50px;
    overflow: auto;
    background-color: #ccc;
}

.new {
    max-width: 800px;
    margin: auto;
}
.md-toolbar-tools h1, .new h1,
.md-toolbar-tools h2, .new h2,
.md-toolbar-tools h3, .new h3
.md-toolbar-tools h4, .new h4 {
    color: white;
}
md-card .md-toolbar-tools h1,
md-card .md-toolbar-tools h2,
md-card .md-toolbar-tools h3,
md-card .md-toolbar-tools h4 {
    color: #333;
}
.new h4 {
    text-transform: uppercase;
    margin: auto 10px;
}

/* TABLES */

table button:not([disabled]) .delete:hover{
    color: red !important;
    transition: color .1s ease;
}
table button:not([disabled]) .edit:hover{
    color: green !important;
    transition: color .1s ease;
}
td.md-cell:first-child,
td.md-cell:last-child {
    padding: 0 20px !important;
}
td.md-cell {
    padding: 0 20px 0 0 !important;
}
td.md-cell button {
    padding: 0 !important;
    margin: 0 !important;
    width: 30px !important;
}
td.md-cell a {
    padding: 0 !important;
    margin: 6px !important;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){
    padding: 0 20px 0 0 !important;
}
/* AUTOCOMPLETE */
.autocomplete {
    margin: 0;
}
.autocomplete md-input-container {
    margin-bottom: 0;
}
.autocomplete input{
    color: black !important;
}


/* ===================================
AP status
=================================== */

.status {
    cursor: default;
    padding: 15px 25px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: large;
}
.status.small {
    padding: 5px 15px;
    font-size: smaller;
}

.status.none {
    background-color: #000;
}
.status.error {
    background-color: red;
}
.status.warning {
    background-color: #666;
}
.status.ok {
    background-color: green;
}
