<section>
    <article>

        <detailed-header title="{{loan.deviceId.length}} Device(s) loaned to {{loan.companyId.name}}" object="loan" edit="edit()"></detailed-header>

        <div layout="row" layout-align="space-between top">
            <md-card flex="33">
                <md-card-header class="small" layout-align="start center">
                    <h2>Current Status</h2>
                    <div flex></div>
                    <md-button ng-if="status != 'aborted'" class="md-icon-button md-primary" ng-click="abortLoan()">
                        <md-tooltip>Abort</md-tooltip>
                        <md-icon class="material-icon">close</md-icon>
                    </md-button>
                    <md-button ng-if="status != 'ended' && status != 'aborted'" class="md-icon-button md-primary md-raised" ng-click="returnLoan()">
                        <md-tooltip>Mark as Returned</md-tooltip>
                        <md-icon class="material-icon">check</md-icon>
                    </md-button>
                    <md-button ng-if="status == 'ended' || status == 'aborted'" class="md-icon-button md-primary md-raised" ng-click="revert()">
                        <md-tooltip>Revert back to progress status</md-tooltip>
                        <md-icon class="material-icon">settings_backup_restore</md-icon>
                    </md-button>
                </md-card-header>
                <md-card-content layout="row" layout-align="center center" style="padding-top: 50px;">
                    <div>
                        <span class="status error" ng-if="status == 'overdue'">OVERDUE</span>
                        <span class="status ok" ng-if="status == 'progress'">PROGRESS</span>
                        <span class="status warning" ng-if="status == 'returned'">RETURNED</span>
                        <span class="status none" ng-if="status == 'aborted'">ABORTED</span>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex="33">
                <md-card-header class="small" layout-align="start center">
                    <h2>Contact Information</h2>
                </md-card-header>
                <md-card-content layout="column" layout-padding flex>
                    <div layout="row"><b flex=25>Company: </b><span>{{loan.companyId.name}}</span></div>
                    <div layout="row"><b flex=25>Contact: </b><span>{{loan.contactId.name}}</span></div>
                    <div layout="row"><b flex=25>Phone: </b><span>{{loan.contactId.phone}}</span></div>
                    <div layout="row"><b flex=25>Email: </b><span>{{loan.contactId.email}}</span></div>
                </md-card-content>
            </md-card>
            <md-card flex=33>
                <md-card-header class="small" layout-align="start center" class="md-toolbar-tools">
                    <h2>Loan Details</h2>
                    <div flex></div>
                    <md-button class="md-icon-button md-primary md-raised" ng-click="editLoan()">
                        <md-tooltip>Edit</md-tooltip>
                        <md-icon class="material-icon">mode_edit</md-icon>
                    </md-button>
                </md-card-header>
                <md-card-content layout="column" layout-padding>
                    <div layout="row"><b flex=33>Start Date: </b><span>{{loan.startDate | date:'mediumDate'}}</span></div>
                    <div layout="row"><b flex=33>Est. End Date: </b><span>{{loan.estimatedEndDate | date:'mediumDate'}}</span></div>
                    <div layout="row"><b flex=33>End Date: </b><span>{{loan.endDate | date:'mediumDate'}}</span></div>
                    <div layout="row"><b flex=33># of POE injectors: </b><span>{{loan.poe}}</span></div>
                    <div layout="row"><b flex=33>Other gears: </b><span>{{loan.other}}</span></div>
                </md-card-content>
            </md-card>
        </div>
        <list-comments object="loan" service="service"></list-comments>

        <md-card md-whiteframe="5">
            <md-card-header class="small" layout-align="start center" class="md-toolbar-toos">
                <h2>Devices Loaned</h2>
            </md-card-header>
            <md-card-content>
                <list-devices filters='filters' refresh="refreshRequested"></list-devices>
            </md-card-content>
        </md-card>
    </article>

</section>