<section style="min-width: 800px;">
    <article>
        <div class="new loan">
            <md-toolbar>
                </md-toolbar-tools>
                <h4>{{loanEdit.action}} Loan</h4>
                </md-toolbar-tools>
            </md-toolbar>
            <md-content layout-padding>
                <form name="newLoan" layout="column">
                    <div layout="row" layout-align="space-between center" class="no-error">
                        <md-input-container class="autocomplete" flex=45>
                            <md-autocomplete flex required md-no-cache="true" md-selected-item="loanEdit.companyId" md-search-text="loanEdit.company.searchText"
                                md-items="item in loanEdit.company.querySearch(loanEdit.company.searchText)" md-item-text="item.name"
                                md-floating-label="Company" md-require-match md-delay="250" ng-trim="false">
                                <md-item-template>
                                    <span md-highlight-text="loanEdit.company.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    <a ng-click="loanEdit.company.newCompany(loanEdit.company.searchText)">Company "{{loanEdit.company.searchText}}" not found... Click here to create it!</a>
                                </md-not-found>
                            </md-autocomplete>
                        </md-input-container>

                        <md-input-container class="autocomplete" flex=45>
                            <md-autocomplete flex required md-no-cache="true" md-selected-item="loanEdit.contactId" md-search-text="loanEdit.contact.searchText"
                                md-items="item in loanEdit.contact.querySearch(loanEdit.contact.searchText)" md-item-text="item.name"
                                md-floating-label="Contact in the selected company" md-require-match md-delay="250" ng-trim="false"
                                ng-disabled="!loanEdit.companyId" md-dropdown-position="bottom">
                                <md-item-template>
                                    <span md-highlight-text="loanEdit.contact.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    <a ng-click="loanEdit.contact.newContact(loanEdit.contact.searchText)">Contact "{{loanEdit.contact.searchText}}" not found... Click here to create it!</a>
                                </md-not-found>
                            </md-autocomplete>
                        </md-input-container>
                    </div>

                    <div layout="row" layout-align="space-between center" class="no-error">
                        <md-input-container flex=30>
                            <input placeholder="Contact Phone" type="phone" ng-model="loanEdit.contactId.phone" ng-disabled="!loanEdit.contactId" autocomplete="contact-phone">
                        </md-input-container>
                        <md-icon class="material-icons" style="color: green" ng-show="loanEdit.contactInfoSaved">check_circle</md-icon>
                        <md-input-container flex=45><input placeholder="Contact Email" type="email" ng-model="loanEdit.contactId.email" ng-disabled="!loanEdit.contactId"></md-input-container>
                        <md-icon class="material-icons" style="color: green" ng-show="loanEdit.contactInfoSaved">check_circle</md-icon>
                        <md-button ng-click="loanEdit.updateContact()" class="md-primary md-raised" ng-disabled="!loanEdit.contactInfoChanged" style="max-height: 20px;margin: auto 0;">Update</md-button>
                    </div>


                    <br>
                    <div layout="row" layout-align="space-between center" class="no-error">
                        <md-input-container flex>
                            <labe>Loan Owner</labe>
                            <md-select ng-model="loanEdit.loan.ownerId" required="" aria-label="Owner Id">
                                <md-option ng-repeat="user in loanEdit.users" value="{{user._id}}">{{user.name.first | capitalize}} {{user.name.last | capitalize}} ({{user.email}})</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="space-between center" class="no-error">
                        <md-input-container flex=33>
                            <md-datepicker placeholder="Start Date" ng-model="loanEdit.loan.startDate" md-open-on-focus required=""></md-datepicker>
                        </md-input-container>

                        <md-input-container flex=33>
                            <md-datepicker placeholder="Estimated End Date" ng-model="loanEdit.loan.estimatedEndDate" md-open-on-focus required="" md-min-date="loanEdit.loan.startDate"></md-datepicker>
                        </md-input-container>

                        <md-input-container flex=33>
                            <md-datepicker ng-if="loanEdit.loan.endDate" placeholder="End Date" ng-model="loanEdit.loan.endDate" md-open-on-focus required=""
                                md-min-date="loanEdit.loan.startDate"></md-datepicker>
                        </md-input-container>
                    </div>

                    <br>

                    <md-content ng-repeat="device in loanEdit.selectedDevices" layout="row" layout-align="space-between center">
                        <md-input-container flex=40>
                            <label>Hardware</label>
                            <md-select name="type" ng-model="device.hardwareId" ng-required="$index == 0" ng-disabled="device.deviceId">
                                <md-option ng-repeat="hardwares in loanEdit.hardwares" value="{{hardwares._id}}">{{hardwares.model}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex=40>
                            <label>Device</label>
                            <md-select ng-model="device.deviceId" ng-required="$index == 0" md-on-open="loanEdit.loadDevices(device)" ng-disabled='!device.hardwareId || device.deviceId'>
                                <md-option ng-repeat="choice in device.choices" value="{{choice._id}}">{{choice.serialNumber}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button ng-click="loanEdit.removeDevice($index)" class="md-icon-button md-primary" style="width: 50px; height: 70px" ng-disabled="$last">
                            <md-icon class="material-icons">remove_circle_outline</md-icon>
                        </md-button>
                    </md-content>

                    <div layout="row" layout-align="space-between center">
                        <md-input-container flex=40>
                            <input placeholder="Number of PoE Injectors" type="number" ng-model="loanEdit.loan.poe" required="" />
                        </md-input-container>
                        <md-input-container flex=55>
                            <input placeholder="Other gears?" type="text" ng-model="loanEdit.loan.other" />
                        </md-input-container>
                    </div>
                    <br>
                    <div layout="row">
                        <md-button class="md-primary" ng-click="loanEdit.reset()">Reset</md-button>
                        <md-button class="md-primary" ng-click="loanEdit.close()">Cancel</md-button>
                        <md-button class="md-primary md-raised" ng-click="loanEdit.save()" ng-disabled="newLoan.$invalid">Save</md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </article>
</section>