<section>
    <article>
        <md-card>
            <div class="md-toolbar-tools">
                <h2>Loans</h2>
                <div flex></div>
                <md-button ng-click="refresh()">
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="editLoan()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    Add
                </md-button>
            </div>
           <list-loans filters='{}', refresh='refreshRequested'></list-loans>
        </md-card>
    </article>
</section>