<section>
    <article>
        <detailed-header title="{{hardware.type}} {{hardware.model}}" object="hardware" edit="edit()"></detailed-header>


        <md-card>
            <md-card-header class="small" layout-align="start center" class="md-toolbar-tools">
                <h2>Devices list</h2>
                <div flex></div>
                <md-button ng-click="refresh()"  class='md-primary md-icon-button '>
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="edit()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    New {{hardware.model}}
                </md-button>
            </md-card-header>
            <list-devices filters="filters" source="hardware" refresh="refreshRequested"></list-devices>

        </md-card>
    </article>

</section>