<section>
    <article>
        <detailed-header title="{{hardwareDetails.hardware.type}} {{hardwareDetails.hardware.model}}" object="hardwareDetails.hardware" edit="hardwareDetails.edit()"></detailed-header>


        <md-card>
            <md-card-header class="small" layout-align="start center" class="md-toolbar-tools">
                <h2>Devices list</h2>
                <div flex></div>
                <md-button ng-click="hardwareDetails.refreshDevices()"  class='md-primary md-icon-button '>
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="hardwareDetails.addEvice()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    New {{hardwareDetails.hardware.model}}
                </md-button>
            </md-card-header>
            <list-devices filters="hardwareDetails.filters" loaned="hardwareDetails.query.loaned" lost="hardwareDetails.query.lost" available="hardwareDetails.query.available" source="hardwareDetails.hardware" refresh="hardwareDetails.refreshRequested"></list-devices>

        </md-card>
    </article>

</section>