<section>
    <article>
        <md-card>
            <md-card-header class="small" layout-align="start center">
                <h2>Contacts</h2>
                <div flex></div>

                <md-button ng-click="contactList.refresh()" class='md-primary md-icon-button '>
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="contactList.edit()" class='md-primary md-raised md-icon-button '>
                    <md-tooltip>Add new Contact</md-tooltip>
                    <md-icon class="material-icon">add</md-icon>
                </md-button>
            </md-card-header>
            <md-card-content layout="column">



                <list-contacts filters="contactList.filters" refresh="contactList.refreshRequested"></list-contacts>

            </md-card-content>
        </md-card>

    </article>
</section>