<div ng-include="'/web-app/settings/menu.html'"></div>

<section class="settings">
    <article>
        <md-card flex md-whiteframe=5>
            <md-card-header class="small" layout-align="start center">
                <h2>Contacts</h2>
                <div flex></div>

                <md-button ng-click="refresh()">
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="editUser()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    Add
                </md-button>
            </md-card-header>
            <md-card-content layout="column">
                


            <list-contacts filters="filters" refresh="refreshRequested"></list-contacts>

            </md-card-content>
        </md-card>

    </article>
</section>