<section>
    <article>
        <md-card>
            <md-card-header class="small" layout-align="start center">
                <h2>Devices</h2>
                <div flex></div>
                <md-button ng-click="deviceList.refresh()" class='md-primary md-icon-button '>
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="deviceList.edit()" class='md-primary md-raised md-icon-button '>
                    <md-tooltip>Add new Device</md-tooltip>
                    <md-icon class="material-icon">add</md-icon>
                </md-button>
            </md-card-header>
            <list-devices filters="deviceList.filters" loaned="deviceList.query.loaned" lost="deviceList.query.lost" available="deviceList.query.available"
                refresh="deviceList.refreshRequested"></list-devices>
        </md-card>
    </article>
</section>