<section>
    <article>
        <md-card>
            <div class="md-toolbar-tools">
                <h2>Devices</h2>
                <div flex></div>
                <md-button ng-click="refresh()">
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="editDevice()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    Add
                </md-button>
            </div>
            <list-devices filters="filters" refresh="refreshRequested"></list-devices>
          
        </md-card>
    </article>
</section>