<section>
    <article>

        <detailed-header title="{{companyDetails.company.name}}" object="companyDetails.company" edit="companyDetails.edit()"></detailed-header>

        <div layout="row" layout-align="space-between top">
            <md-card flex="33">
                <md-card-header class="small" layout-align="start center">
                    <h2>Current Loan Status</h2>
                    <div flex></div>

                </md-card-header>
                <md-card-content layout="row" layout-align="center center" style="padding-top: 50px;">
                    <div>
                        <span class="status error" ng-if="companyDetails.loansStatus.verdue > 0">OVERDUE</span>
                        <span class="status ok" ng-if="companyDetails.loansStatus.overdue == 0 && companyDetails.loansStatus.progress > 0">IN PROGRESS</span>
                        <span class="status warning" ng-if="companyDetails.loansStatus.overdue == 0 && companyDetails.loansStatus.progress == 0 && companyDetails.loansStatus.ended > 0">RETURNED</span>
                        <span class="status none" ng-if="companyDetails.loansStatus.overdue == 0 && companyDetails.loansStatus.progress == 0 && companyDetails.loansStatus.ended == 0">NONE</span>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex="66">
                <md-card-header class="small" layout-align="start center">
                    <h2>Company Information</h2>
                </md-card-header>
                <md-card-content layout="row" style="padding: 0">
                    <div layout="column" layout-padding flex=40>
                        <div layout="row"><b flex=50>Number of Contacts: </b><span>{{companyDetails.contactsTotal}}</span></div>
                    </div>
                    <div layout="column" layout-padding flex=60>
                        <div layout="row"><b flex=40># of overdue loans: </b><span>{{companyDetails.loansStatus.overdue}}</span></div>
                        <div layout="row"><b flex=40># of current loans: </b><span>{{companyDetails.loansStatus.progress}}</span></div>
                        <div layout="row"><b flex=40># of returned loans: </b><span>{{companyDetails.loansStatus.ended}}</span></div>
                    </div>
                </md-card-content>
            </md-card>

        </div>

        <md-card>
            <md-card-header class="small" layout-align="center center">
                <h2>Company Contacts</h2>
                <div flex></div>
                <md-button ng-click="companyDetails.refreshContacts()">
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="companyDetails.newContact()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    New Contact
                </md-button>
            </md-card-header>
                <list-contacts filters="companyDetails.filters" source="company" refresh="companyDetails.refreshRequestedContacts" contacts="companyDetails.contacts"></list-contacts>
        </md-card>
        <md-card>
            <md-card-header class="small" layout-align="center center">
                <h2>Loans History</h2>
                <div flex></div>
                <md-button ng-click="companyDetails.refreshLoans()">
                    <md-tooltip>Refresh</md-tooltip>
                    <md-icon class="material-icons">refresh</md-icon>
                </md-button>
                <md-button ng-click="companyDetails.newLoan()" class="md-primary">
                    <md-icon class="material-icons">add_circle</md-icon>
                    New Loan
                </md-button>
            </md-card-header>
                <list-loans filters="companyDetails.filters" source="company" aborted='companyDetails.query.aborted' returned='companyDetails.query.returned'
                    progress='companyDetails.query.progress' overdue='companyDetails.query.overdue' refresh="companyDetails.refreshRequestedLoans"
                    loans="companyDetails.loans"></list-loans>
        </md-card>
    </article>
</section>