<section style="min-width: 600px;">
    <article>
        <div class="new company">
            <md-toolbar>
                </md-toolbar-tools>
                <h4>{{companyEdit.action}} Company</h4>
                </md-toolbar-tools>
            </md-toolbar>
            <md-content layout-padding>
                <form name="newCompany" layout="column">

                    <md-input-container>
                        <label for="name">Name: </label>
                        <input type="text" name="name" ng-model="companyEdit.company.name" required="">
                    </md-input-container>

                    <div layout="row">
                        <md-button class="md-primary" ng-click="companyEdit.reset()">Reset</md-button>
                        <md-button class="md-primary" ng-click="companyEdit.close()">Cancel</md-button>
                        <md-button class="md-primary md-raised" ng-click="companyEdit.save(company)" ng-disabled="newCompany.$invalid">Save</md-button>
                    </div>
                </form>
            </md-content>
        </div>
    </article>
</section>